<header>
    <div class="header wrap">
        <nav class="row container">
            <div class="col-3"><a href="https://dizzydog-rgb.github.io/product-website-vite/index.html"><img
                        src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/logo.svg"
                        alt="logo"></a></div>
            <ul class="col-6 d-flex justify-content-around fs-6 nav-list">
                <li class="current-page"><a
                        href="https://dizzydog-rgb.github.io/product-website-vite/index.html"><span></span>首頁</a></li>
                <li><a href="https://dizzydog-rgb.github.io/product-website-vite/product.html"><span></span>作品集</a></li>
                <li><a href="https://dizzydog-rgb.github.io/product-website-vite/service.html"><span></span>服務項目</a>
                </li>
                <li><a href="https://dizzydog-rgb.github.io/product-website-vite/blog.html"><span></span>部落格</a></li>
                <li><a href="https://dizzydog-rgb.github.io/product-website-vite/contactMe.html"><span></span>聯絡我</a>
                </li>
            </ul>
            <div class="hambuger">
                <span class="material-icons menu-icon">
                    menu
                </span>
                <span class="material-icons close-icon">
                    close
                </span>
                <ul class="hambuger-list">
                    <li class="current-page"><a
                            href="https://dizzydog-rgb.github.io/product-website-vite/index.html"><span></span>首頁</a>
                    </li>
                    <li><a href="https://dizzydog-rgb.github.io/product-website-vite/product.html"><span></span>作品集</a>
                    </li>
                    <li><a href="https://dizzydog-rgb.github.io/product-website-vite/service.html"><span></span>服務項目</a>
                    </li>
                    <li><a href="https://dizzydog-rgb.github.io/product-website-vite/blog.html"><span></span>部落格</a>
                    </li>
                    <li><a
                            href="https://dizzydog-rgb.github.io/product-website-vite/contactMe.html"><span></span>聯絡我</a>
                    </li>
                </ul>
            </div>
            <div class="col-3"></div>
        </nav>
    </div>
</header>