@import './variable';
@import '/assets/scss/pages/reset';
@import './layout/header.scss';
@import './layout/footer.scss';


@import './pages/index.scss';
@import './pages/product.scss';
@import './pages/service.scss';
@import './pages/blog.scss';
@import './pages/contactMe.scss';