.footer {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-lg.png?raw=true");
}

.footer .row {
  margin: 0 auto;
}

.info {
  padding: 120px 0px;

  img,
  p {
    margin-bottom: 24px;
  }

  a {
    text-decoration: none;
    color: $secondary;
  }
}

.contact-info {
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0;

  a {
    text-decoration: none;
    color: $third;
  }

  li {
    padding: 8px 24px;
    max-width: 100%;
    align-items: center;
    gap: 8px;
    border: 1px solid #C1C1C1;
    border-radius: 8px;
  }

  .form {
    background-color: #000;
    color: #FFFFFF;
    border-radius: 8px;
    align-items: center;

    a {
      color: #FFFFFF;
    }
  }
}