body .row {
  margin: 0 auto;
}

nav {
  padding: 36px 0px;
}

.nav-list li {
  padding: 4px 8px 4px 8px;
  text-align: center;
  font-family: 'Noto Sans TC', sans-serif;
}


.current-page {
  font-weight: 800;
  position: relative;
}

.current-page::before,
.current-page::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1px solid $secondary;
}

.current-page::before {
  top: -2px;
  left: -2px;
  border-width: 1px 0 0 1px;
}

.current-page::after {
  bottom: -2px;
  right: -2px;
  border-width: 0 1px 1px 0;
}

.current-page span::before,
.current-page span::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1px solid $secondary;
}

.current-page span::before {
  top: -2px;
  right: -2px;
  border-width: 1px 1px 0 0;
}

.current-page span::after {
  bottom: -2px;
  left: -2px;
  border-width: 0 0 1px 1px;
}