@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');




body {
  font-family: 'Noto Sans TC', sans-serif !important;
  block-size: border-box;
  margin: 0 auto;

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
    color: $secondary;
  }
}



.wrap {
  max-width: 1920px;
}

.container {
  max-width: 1296px;
}



.nav-list a {
  color: black;
}

.left-block {
  width: 40%;
}

.self {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 24px;
  }

  p {
    color: #5B5B5B;
    margin-bottom: 16px;
  }

  .en-title {
    color: #C1C1C1;
    margin-bottom: 60px;
  }
}


.position-relative {
  position: relative;
}

.noel-selfie {
  height: auto;
  width: 60%;
  right: 0;
}

.mark-bg {
  background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/mark.png?raw=true');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.headline {
  justify-content: center;
  padding: 120px 0 80px;

  img {
    height: 100%;
    align-self: center;
  }

  h2 {
    margin: 0px 16px;
  }
}

.spceTravel-part-bg {
  background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work1-bg.png?raw=true');
}

.spceTravel-part {
  .left-block {
    padding-top: 80px;
  }

  .item {
    align-items: center;

    .content {
      width: 100%;
      padding: 80px 40px 40px 40px;
      background-color: #FFFFFF1A;
      color: #F1F1F1;
      border-radius: 24px;

      h2 {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 8px;
      }

      p {
        margin-bottom: 24px;
      }

      ul {
        gap: 16px;
        padding: 0;
        margin-bottom: 40px;
      }

      li {
        background-color: #FFFFFF;
        color: $third;
        border-radius: 16px;
        padding: 4px 12px;
        font-size: 16px;
      }

      .intro {
        width: 40%;
        background-color: #000000;
        border-radius: 5px;
        padding: 16px 32px;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 700;
        margin: 0 auto;
        margin-top: 40px;

        .material-icons {
          display: inline-block;
          font-size: inherit;
          line-height: inherit;
          vertical-align: middle;
          transform: translateY(-.1em); // 取自segmentfault
          margin-left: 8px;
        }
      }
    }
  }
}

.money-part {
  background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work2-lg.png?raw=true');

  .left-block {
    width: 50%;
    background-color: #0A101380;
    padding: 190px 0;
    justify-content: end;

    .content {
      width: 56%;
      padding: 80px 40px 40px 40px;
      margin-right: 10%;
      background-color: #FFFFFF1A;
      color: #F1F1F1;
      border-radius: 24px;
      float: right;

      h2 {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 8px;
      }

      p {
        margin-bottom: 24px;
      }

      ul {
        gap: 16px;
        padding: 0;
        margin-bottom: 40px;
      }

      li {
        background-color: #FFFFFF;
        color: $third;
        border-radius: 16px;
        padding: 4px 12px;
        font-size: 16px;
      }

      .intro {
        width: 40%;
        background-color: #000000;
        border-radius: 5px;
        padding: 16px 32px;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 700;
        margin: 0 auto;
        margin-top: 40px;

        .material-icons {
          display: inline-block;
          font-size: inherit;
          line-height: inherit;
          vertical-align: middle;
          transform: translateY(-.1em); // 取自segmentfault
          margin-left: 8px;
        }
      }
    }
  }

  .right-block {
    width: 50%;
  }
}

.beauty-part-bgc {
  background-color: #0D0C0780;
}

.beauty-part-bg {
  background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work3-bg.png?raw=true');
}

.beauty-part {
  .left-block {
    margin-top: 176px;
    margin-bottom: 112px;
  }

  .item {
    align-items: center;

    .content {
      width: 100%;
      padding: 80px 40px 40px 40px;
      background-color: #FFFFFF1A;
      color: #F1F1F1;
      border-radius: 24px;

      h2 {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 8px;
      }

      p {
        margin-bottom: 24px;
      }

      ul {
        gap: 16px;
        padding: 0;
        margin-bottom: 40px;
      }

      li {
        background-color: #FFFFFF;
        color: $third;
        border-radius: 16px;
        padding: 4px 12px;
        font-size: 16px;
      }

      .intro {
        width: 40%;
        background-color: #000000;
        border-radius: 5px;
        padding: 16px 32px;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 700;
        margin: 0 auto;
        margin-top: 40px;

        .material-icons {
          display: inline-block;
          font-size: inherit;
          line-height: inherit;
          vertical-align: middle;
          transform: translateY(-.1em); // 取自segmentfault
          margin-left: 8px;
        }
      }
    }
  }
}

.service-part-bg {
  background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-services-bg.png?raw=true');
}

.service-part {
  padding-bottom: 120px;

  .service-list {
    column-gap: 24px;

    .service-item {
      background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/service-item-bg.png?raw=true');
      background-size: cover;
      text-align: center;
      padding: 80px 0px;
      border-radius: 16px;

      h3 {
        font-size: 28px;
        font-weight: 700;
        color: #FFFFFF;
        margin-top: 24px;
      }
    }
  }

  .more-detail {
    text-align: center;
    margin-top: 80px;

    margin-bottom: 120px;

    h2 {
      font-weight: 600;
      color: $third;
      margin-bottom: 40px;
    }

    .intro {
      width: 22%;
      background-color: #000000;
      border-radius: 5px;
      padding: 16px 32px;
      color: #FFFFFF;
      font-size: 20px;
      font-weight: 700;
      margin: 0 auto;

      .material-icons {
        display: inline-block;
        font-size: inherit;
        line-height: inherit;
        vertical-align: middle;
        transform: translateY(-.1em); // 取自segmentfault
        margin-left: 8px;
      }
    }
  }
}

.article-part {
  .article-item {
    display: flex;
    flex-direction: column;
    gap: 24px;

    img {
      border-radius: 8px;
      border: 1px solid #F1F1F1;
    }

    h4 {
      font-size: 20px;
      font-weight: 700;
      color: $third;
    }

    .tag-list {
      padding: 0;
      justify-content: space-between;
      gap: 10px;

      .tag {
        background-color: $primary;
        color: $third;
        padding: 4px 12px;
        font-size: 16px;
        border-radius: 16px;
      }
    }
  }

  .pagination {
    width: 100%;
    height: 100%;
    margin: 40px 0 120px;
  }

  .pagination-dot {
    position: relative;
    left: 46%;
    top: 50%;
    word-spacing: 16px;
  }

  .pagination-dot span {
    display: inline-block;
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #E9E9E9;
  }

  .pagination span.active {
    background-color: #000000;
  }
}

.hr {
  color: $primary;
}

.br-desktop {
  display: none;
}

.img-unshow {
  display: none;
}

.more-article-mobile {
  display: none;
}

@media (max-width: 991px) {

  .spceTravel-part,
  .money-part,
  .beauty-part {
    .tag {
      flex-direction: column;
      text-align: center;
    }
  }
}

@media (max-width: 767px) {
  .br-mobile {
    display: block;
  }

  .img-show {
    display: block;
  }

  .self-part {
    flex-direction: column-reverse;

    .noel-selfie {
      width: 100%;
      margin-bottom: 40px;
    }

    .left-block {
      width: 0;
    }

    .self {
      text-align: center;
      word-break: keep-all;

      h1 {
        font-size: 32px;
        text-align: center;
      }

      p {
        font-size: 20px;
        margin-bottom: 24px;
      }

      .social-media-list {
        margin: 0 auto;
        gap: 16px;
      }
    }
  }

  .headline {
    justify-content: center;
    padding: 40px 0;
  }

  .spceTravel-part-bg {
    background-image: none;
  }

  .spceTravel-part {

    .container {
      padding: 0;
      flex-direction: column;

      .left-block {
        background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work1-bg.png?raw=true');
        background-size: cover;
        width: 100%;
        text-align: center;

        img {
          width: 78%;
        }
      }

      .item {
        width: 100%;
        text-align: center;

        .content {
          padding: 0;

          h2 {
            color: #1E1E1E;
            font-size: 20px;
            margin-top: 24px;
            margin-bottom: 8px;
          }

          p {
            color: #5B5B5B;
            font-size: 16px;
            margin-bottom: 16px;
          }

          ul {
            justify-content: center;
            gap: 8px;

            li {
              background-color: $primary;
            }

            margin-bottom: 20px;
          }

          .intro {
            width: 35%;
            font-size: 16px;
            padding: 8px 16px;
            margin-bottom: 48px;
          }
        }


      }
    }

  }

  .money-part {
    background-image: none;
    flex-direction: column;

    .img-show img {
      width: 100%;
    }

    .left-block {
      padding: 24px 0 0 0;
      width: 100%;
      text-align: center;
      background-color: #fffFFF;

      .content {
        width: 100%;
        padding: 0;
        margin: 0 auto;

        h2 {
          color: #1E1E1E;
          font-size: 20px;
          margin-top: 24px;
          margin-bottom: 8px;
        }

        p {
          color: #5B5B5B;
          font-size: 16px;
          margin-bottom: 16px;
        }

        ul {
          justify-content: center;
          gap: 8px;

          li {
            background-color: $primary;
          }

          margin-bottom: 20px;
        }

        .intro {
          width: 35%;
          font-size: 16px;
          padding: 8px 16px;
          margin-bottom: 48px;
        }
      }
    }
  }

  .beauty-part-bg {
    background-image: none;
  }

  .beauty-part-bgc {
    background-color: #FFFFFF;
  }

  .beauty-part {

    .container {
      padding: 0;
      flex-direction: column;

      .beauty-part-bgc-mobile {
        width: 100%;
        background-color: #0D0C0780;
      }

      .left-block {
        margin: 0;
        padding: 0;
        background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work3-bg.png?raw=true');
        background-size: cover;
        background-position: bottom 0 right -160px;
        width: 100%;
        text-align: center;

        img {
          width: 78%;
          margin: 90px 0;
        }
      }

      .item {
        width: 100%;
        text-align: center;

        .content {
          padding: 0;

          h2 {
            color: #1E1E1E;
            font-size: 20px;
            margin-top: 24px;
            margin-bottom: 8px;
          }

          p {
            color: #5B5B5B;
            font-size: 16px;
            margin-bottom: 16px;
          }

          ul {
            justify-content: center;
            gap: 8px;

            li {
              background-color: $primary;
            }

            margin-bottom: 20px;
          }

          .intro {
            width: 35%;
            font-size: 16px;
            padding: 8px 16px;
            margin-bottom: 48px;
          }
        }
      }
    }

  }

  .service-part {
    background-color: #FAFAFA;
    background-image: none;
    padding-bottom: 80px;

    .headline {
      padding: 80px 0px 40px;
    }

    .service-list {
      flex-direction: column;
      align-items: center;
      gap: 24px;
      padding: 0 34.5px;

      .service-item {
        width: 100%;
        height: auto;
        font-size: 24px;
        padding: 76px 0;
      }
    }

    .more-detail {
      width: 100%;
      margin-top: 40px;
      margin-bottom: 0;

      h2 {
        font-size: 20px;
        margin-bottom: 32px;
      }

      .intro {
        width: 57%;
        font-size: 16px;
        padding: 8px 16px;
      }
    }
  }

  .article-part {
    .row {
      gap: 46px;
    }

    .article-item {
      padding: 0;
      gap: 16px;
    }

    .pagination {
      margin: 0;
    }

    .pagination-dot {
      display: none;
    }

    .more-article-mobile {
      display: block;
      text-align: center;
      margin-top: 40px;
      margin-bottom: 80px;

      .intro {
        width: 35%;
        background-color: #000000;
        border-radius: 5px;
        padding: 8px 16px;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 700;
        margin: 0 auto;

        .material-icons {
          display: inline-block;
          font-size: inherit;
          line-height: inherit;
          vertical-align: middle;
          transform: translateY(-.1em); // 取自segmentfault
          margin-left: 8px;
        }
      }
    }
  }

  hr {
    display: none;
  }
}