<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <script src="/jquery-3.7.1.min.js"></script>
  <title>I'm Noel</title>
</head>

<body>

  <%- include('./layout/header'); -%>

    <div class="self-part wrap d-flex">
      <div class="container d-flex">
        <div class="left-block"></div>
        <div class="self">
          <h1>Hi！我是 Noel</h1>
          <p>具有十年經驗的<br class="br-desktop br-mobile"><span class="mark-bg"> 資深 UI 工程師 </span>兼<span class="mark-bg">
              前端工程師 </span><br>技術雙修並行，熱衷於優化使用者的網頁體驗
          </p>
          <p class="en-title">WEB DEVELOPMENT / BRANDING / UI / UX / APP DESIGN</p>
          <div class="d-flex social-media-list">
            <img
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/instagram.svg"
              alt="IG">
            <img
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/facebook.svg"
              alt="FB">
            <img
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/youtube.svg"
              alt="YT">
          </div>
        </div>
      </div>
      <img class="noel-selfie"
        src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/hero-lg.png?raw=true"
        alt="noel-selfie">
    </div>

    <div class="headline d-flex"><img
        src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/title-deco-left-lg.png?raw=true"
        alt="dash">
      <h2>作品介紹</h2><img
        src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/title-deco-right-lg.png?raw=true"
        alt="dash">
    </div>

    <div class="spceTravel-part wrap spceTravel-part-bg">
      <div class="container row">
        <div class="col-7 left-block"><img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work1.png?raw=true"
            alt="work1"></div>
        <div class="col-5 item d-flex">
          <div class="content">
            <h2>星際旅行訂票平台</h2>
            <p>悠遊宇宙的夢想，從這裡開始實現</p>
            <ul class="d-flex tag">
              <li>網頁設計</li>
              <li>響應式設計</li>
              <li>Bootstrap</li>
            </ul>
            <hr class="hr">
            <a href="#">
              <div class="intro">完整介紹<span class="material-icons">
                  arrow_forward</div>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="wrap money-part d-flex">
      <div class="img-unshow img-show"><img
          src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work2-sm.png?raw=true"
          alt="money"></div>
      <div class="left-block d-flex">
        <div class="content">
          <h2>理財APP</h2>
          <p>連動帳戶與行動支付，讓 AI 提供您最好的理財建議</p>
          <ul class="d-flex tag">
            <li>APP設計</li>
            <li>iOS</li>
            <li>React</li>
          </ul>
          <hr class="hr">
          <a href="#">
            <div class="intro">完整介紹<span class="material-icons">
                arrow_forward</div>
            </span>
          </a>
        </div>

      </div>
      <div class="right-block">
      </div>

    </div>

    <div class="beauty-part wrap beauty-part-bg">
      <div class="beauty-part-bgc">
        <div class="container row">
          <div class="col-7 left-block">
            <div class="beauty-part-bgc-mobile">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work3.png?raw=true"
                alt="work1">
            </div>
          </div>
          <div class="col-5 item d-flex">
            <div class="content">
              <h2>醫美診所官網</h2>
              <p>永保青春的秘密，從粹究開始</p>
              <ul class="d-flex tag">
                <li>網頁設計</li>
                <li>響應式設計</li>
                <li>WordPress</li>
              </ul>
              <hr class="hr">
              <a href="#">
                <div class="intro">完整介紹<span class="material-icons">
                    arrow_forward</div>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="service-part wrap service-part-bg">
      <div class="headline d-flex"><img
          src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/title-deco-left-lg.png?raw=true"
          alt="dash">
        <h2>服務項目</h2><img
          src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/title-deco-right-lg.png?raw=true"
          alt="dash">
      </div>
      <ul class="service-list container row justify-content-between">
        <li class="service-item col">
          <img
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/service-item-visual.svg"
            alt="visual">
          <h3>平面設計</h3>
        </li>
        <li class="service-item col">
          <img
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/service-item-ui.svg"
            alt="ui-desifn">
          <h3>UI 設計</h3>
        </li>
        <li class="service-item col">
          <img
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/service-item-html%26css.svg"
            alt="HTML-CSS">
          <h3>切版服務</h3>
        </li>
        <li class="service-item col">
          <img
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/service-item-front-end.svg"
            alt="front-end">
          <h3>前端開發</h3>
        </li>
      </ul>
      <div class="more-detail container">
        <h2>想要合作或了解更多?</h2>
        <a href="#">
          <div class="intro">詳細內容與合作流程<span class="material-icons">
              arrow_forward</div>
          </span>
        </a>
      </div>
    </div>
    <div class="headline d-flex"><img
        src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/title-deco-left-lg.png?raw=true"
        alt="dash">
      <h2>精選文章</h2><img
        src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/title-deco-right-lg.png?raw=true"
        alt="dash">
    </div>
    <div class="article-part wrap d-md-none d-block">
      <ul class=" container row">
        <li class="article-item col">
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/article-image1.png?raw=true"
            alt="vison-pro">
          <h4>Vision Pro 登場！Vision Pro UI/UX 設計重點大公開 (上)</h4>
          <ul class="d-flex tag-list">
            <li class="tag">UX/UI 新知</li>
            <li class="tag">2024/02/10</li>
          </ul>
        </li>
        <li class="article-item col">
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/article-image2.png?raw=true"
            alt="article-2">
          <h4>給設計師和工程師的 Figma-Dev Mode 開發模式使用指南 (下)</h4>
          <ul class="d-flex tag-list">
            <li class="tag">UX/UI 新知</li>
            <li class="tag">2023/11/20</li>
          </ul>
        </li>
        <li class="article-item col">
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/article-image3.png?raw=true"
            alt="vison-pro">
          <h4>給設計師和工程師的 Figma-Dev Mode 開發模式使用指南 (上)</h4>
          <ul class="d-flex tag-list">
            <li class="tag">UX/UI 新知</li>
            <li class="tag">2023/10/18</li>
          </ul>
        </li>
      </ul>
      <div class="pagination">
        <div class="pagination-dot">
          <span class="active"></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="more-article-mobile container">
          <a href="https://dizzydog-rgb.github.io/product-website-vite/blog.html">
            <div class="intro">更多文章<span class="material-icons">
                arrow_forward</div>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="swiper mySwiper container d-md-block d-none">
      <div class="swiper-wrapper article-part pb-5">
        <div class="swiper-slide">
          <li class="article-item">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/article-image1.png?raw=true"
              alt="vison-pro">
            <h4>Vision Pro 登場！Vision Pro UI/UX 設計重點大公開 (上)</h4>
            <ul class="d-flex tag-list">
              <li class="tag">UX/UI 新知</li>
              <li class="tag">2024/02/10</li>
            </ul>
          </li>
        </div>
        <div class="swiper-slide">
          <li class="article-item col">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/article-image2.png?raw=true"
              alt="article-2">
            <h4>給設計師和工程師的 Figma-Dev Mode 開發模式使用指南 (下)</h4>
            <ul class="d-flex tag-list">
              <li class="tag">UX/UI 新知</li>
              <li class="tag">2023/11/20</li>
            </ul>
          </li>
        </div>
        <div class="swiper-slide">
          <li class="article-item col">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/article-image3.png?raw=true"
              alt="vison-pro">
            <h4>給設計師和工程師的 Figma-Dev Mode 開發模式使用指南 (上)</h4>
            <ul class="d-flex tag-list">
              <li class="tag">UX/UI 新知</li>
              <li class="tag">2023/10/18</li>
            </ul>
          </li>
        </div>
        <div class="swiper-slide">
          <li class="article-item col">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/article-image4.png?raw=true"
              alt="vison-pro">
            <h4>虛擬實境 (VR) 介面設計對使用者沈浸感影響的研究</h4>
            <ul class="d-flex tag-list">
              <li class="tag">數位產品設計</li>
              <li class="tag">2023/09/20</li>
            </ul>
          </li>
        </div>
        <div class="swiper-slide">
          <li class="article-item col">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/article-image5.png?raw=true"
              alt="vison-pro">
            <h4>想打到目標受眾？先讓設計師跟你都瞭解他們痛在哪！</h4>
            <ul class="d-flex tag-list">
              <li class="tag">數位產品設計</li>
              <li class="tag">2023/08/10</li>
            </ul>
          </li>
        </div>
        <div class="swiper-slide">
          <li class="article-item col">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/article-image6.png?raw=true"
              alt="vison-pro">
            <h4>React vs. Vue，哪種前端框架比較好用？從三大面向談起</h4>
            <ul class="d-flex tag-list">
              <li class="tag">前端開發</li>
              <li class="tag">2023/07/03</li>
            </ul>
          </li>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>

    </div>


    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</body>

</html>